/*Color codes for demo*/
/*#00010D - Dark blue*/
/*#0455BF - Blue*/
/*#023373 - Navy blue*/
/*#010D00 - Darker blue*/
/*#F0F2A7 - Dark Cream*/


/*Font families I like*/
/* 'Lato', sans-serif */

html{
  box-sizing:border-box;
}
*,
*:before,
*:after {
  box-sizing:inherit;
}

body{
      font-family: 'Lato', sans-serif;
      margin:0;
      line-height:1.6;
      padding:6em 2em;
      margin:0;
      
}

img{
  max-width:100%;
  height:auto;
}

h1{
  font-size:2.9rem;
  margin:20px 0;
}

h1.logo{
    margin-top:15px;
    position:relative;
    overflow:hidden;
    padding:0;
}

h1.logo a{
    position:absolute;
    height:0;
    width:100%;
    background-position:left top;
    background-repeat:no-repeat;
}

#logo{
    height:90px;
}

header.primary{
  text-align:center;
  padding:6em 2em;
  position:relative;
}

header.primary h1 a{
    color:#fff;
    background-image:url(https://assets.codepen.io/7248/logo-2.png);
    display:block;
    width:450px;
    height:70px;
    margin:0 auto;
    text-indent:100%;
    white-space:nowrap;
    overflow:hidden;
}

.container{
  width:70vw;
  margin:40px auto;
  max-width:960px;
}

section#articles {
  background: #181c1f;
}

section#articles .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid #c0c0c0;
  padding: 0 0 4em 0;
}

section#articles h2,
#content h2 {
  flex: 0 0 100%;
  color: #010D00;
  text-align: center;
  font-size: 2em;
}

section#articles h2 {
  color: #fff;
  text-shadow: 2px 2px #000;
}

#articles article.post {
  width: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  padding: 10px;
  transition: 0.6s;
  font-size: 0.8rem;
  border-radius: 10px;
  background: #fff;
}

#articles article.post h2 {
  font-size: 1.5em;
  text-shadow: none;
}

#articles article.post:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

#articles article time,
#articles article figcaption,
#articles article footer {
  font-size: 0.8em;
  color: #c0c0c0;
  text-transform: uppercase;
}

#articles .post a:link,
#articles .post a:visited {
  color: #3b638b;
}

#articles .post figure {
  margin: 0;
}

#articles .post img {
  border-radius: 10px;
}

#articles ul {
  padding: 0 20px;
}
#articles li {
  margin-bottom: 20px;
}

header nav ul{
  list-style-type:none;
  margin:0;
  padding:0;
  overflow:hidden;
  background-color:#333;
}

li{
  float:left;
}

li a{
  display:block;
  color:white;
  text-align:center;
  padding:14px 16px;
  text-decoration:none;
}

li a:hover{
  background-color:#111;
}

.active{
  background-color:#0455BF;
}

table{
  width:100%;
  border:1px solid #F0F2A7;
  border-collapse:collapse;
}

table caption{
  color:#F0F2A7;
  padding:5px;
  font-weight:bold;
  font-size:1.4rem;
}

/*Button style*/
.accordion{
  background-color:#eee;
  color:#444;
  cursor:pointer;
  padding:18px;
  width:100%;
  text-align:left;
  border:none;
  outline:none;
  transition:0.4s;
}

/*Add a background color button on click*/
.active, .accordion:hover{
  background-color:#ccc;
}

/*Accordion panel style*/
.panel{
  padding:0 18px;
  background-color:white;
  display:none;
  overflow:hidden;
}

.accordion:after{
  content:'\02795'; /*Plus sign (+)*/
  font-size:13px;
  color:#777;
  float:right;
  margin-left:5px;
}

.active:after{
  content:"\2796"; /*Minus sign (-)*/
}